<script>
import ServerSleep from "./ServerSleep.vue";
import Item from "./Item.vue";
import LazyHydrate from "./LazyHydration.js";

export default {
  props: ["lazy"],
  components: {
    Item,
    ServerSleep,
    LazyHydrate,
  },
};
</script>

<template>
  <div>
    <div class="item" v-for="item in 200" :key="item">
      <ServerSleep>
        <component :is="lazy ? 'LazyHydrate' : 'div'">
          <Item />
        </component>
      </ServerSleep>
    </div>
  </div>
</template>
