<template>
  <n-transfer v-model:value="value" :options="options" />
</template>

<script>
import { ref } from "vue";
import { NTransfer } from "naive-ui";

function createOptions() {
  return Array.apply(null, { length: 100 }).map((v, i) => ({
    label: "Option " + i,
    value: i,
    disabled: i % 5 === 0,
  }));
}

function createValues() {
  return Array.apply(null, { length: 50 }).map((v, i) => i);
}

export default {
  components: {
    NTransfer,
  },
  setup() {
    console.log("SETUP");
    return {
      options: createOptions(),
      value: ref(createValues()),
    };
  },
};
</script>
