<template>
  <div>
    <slot />
  </div>
</template>

<script>
const sleep = (duration) => new Promise((res) => setTimeout(res, duration));

export default {
  async serverPrefetch() {
    await sleep(1);
  },
};
</script>
