<script>
import HelloWorld from "./components/HelloWorld.vue";
import StreamingRender from "./components/StreamingRender.vue";
import { NTransfer } from "naive-ui";

export default {
  components: {
    HelloWorld,
    StreamingRender,
    NTransfer,
  },
  data() {
    return {
      renderType: "",
      isLoading: false,
    };
  },
  watch: {
    async renderType(val) {
      this.isLoading = true;
      setTimeout(() => {
        this.isLoading = false;
      });
    },
  },
};
</script>

<template>
  <n-transfer v-show="false" />
  <div><a href="https://gitlab.com/slashmanov/vue-worker-streaming-example">Source code</a></div>
  <div class="controls">
    <button @click="renderType = 'client'">Client rendering</button>
    <button @click="renderType = 'stream'">Streaming</button>
  </div>

  <div class="content">
    <div class="loading" v-if="isLoading">Loading...</div>
    <template v-else>
      <div v-if="renderType === 'client'">
        <HelloWorld />
      </div>

      <StreamingRender v-else-if="renderType === 'stream'">
        <HelloWorld lazy="true" />
      </StreamingRender>
    </template>
  </div>
</template>

<style>
body {
  overflow-y: scroll;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 20px;
}

.controls button {
  font-size: 24px;
  padding: 8px 12px;
  margin: 0 10px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loading {
  font-size: 28px;
}

.item {
  margin: 40px;
}

.n-transfer {
  content-visibility: auto;
  contain-intrinsic-size: 1px 240px;
}
</style>
